body{
    background-color: rgb(49, 49, 49);
}
.strip1
{
  height: 500px;
  width: 100%;
  
}
#im1
{
  width: 1400px;
  max-height: 100%;
  margin: auto;
  display: block;
}

#p1s1
{
    position: absolute;
    right: 570px;
    top: 95px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}
#p1s2
{
    position: absolute;
    right: 515px;
    top: 130px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}
#p1s3
{
    position: absolute;
    right: 585px;
    top: 165px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}

#p2s1
{
    position: absolute;
    right: 465px;
    top: 590px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}

#p3s1
{
    position: absolute;
    right: 500px;
    top: 1100px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}

#p3s2
{
    position: absolute;
    right: 595px;
    top: 1132px;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    font-weight: lighter;
}

.column
{
 
  width: 50%;
  float: left;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#im2
{
  max-width: 102%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin: auto;
  right: 1px;
  position: relative;
}
#p4s1
{
    position: absolute;
    right: 910px;
    top: 1590px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p4s2
{
    position: absolute;
    left: 920px;
    top: 1590px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p4s3
{
    position: absolute;
    left: 955px;
    top: 1615px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p4s4
{
    position: absolute;
    left: 944px;
    top: 1640px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p4s5
{
    position: absolute;
    left: 970px;
    top: 1665px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}

.column2
{
  height: 500px;
  width: 50%;
  float: left;
  
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
#im3
{
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  margin: auto;
}
#im4
{
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  margin: auto;
  left: 12px;
  position: relative;
}
#im5
{
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  margin: auto;
}


#p5s1
{
    position: absolute;
    left: 230px;
    top: 2025px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p5s2
{
    position: absolute;
    left: 270px;
    top: 2050px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}

#p5s3
{
    position: absolute;
    right: 230px;
    top: 2025px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}
#p5s4
{
    position: absolute;
    right: 270px;
    top: 2050px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}

.column3
{
  height: 500px;
  width: 50%;
  float: left;
  
}
.row3:after {
  content: "";
  display: table;
  clear: both;
}

#p6s1
{
    position: absolute;
    left: 210px;
    top: 2530px;
    color: rgb(170, 170, 170);
    font-size: 1.5rem;
    font-weight: lighter;
}